/* Biến chung cho toàn bộ file  */
:root{
    --prio-text: #656565;
    --sec-black: black;
    --sec-white: white;
    --bg-product: #ede2cf;
    --hd-ft: #2d2d2d;
    --bg-menu: #3c3b3b;
}

html{
    font-size: 17.6px;
}

@media screen and (max-width: 400px) {
    html {
        font-size: 15.6px;
    }
}

img {
    object-fit: cover;
    object-position: center;
    width: auto;
    height: auto;
}